body{
    background-color: azure;
}
h1 {
    text-align: center;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#productos {
    display: flex;
    justify-content: center;
}
.producto {
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}